<form action="/landmarks" method="POST">
Landmarke name: <input type="text" name="landmark_name" id="landmark[name]"></input><br>
Year completed: <input type="text" name="landmark_year_completed" id="landmark[year_completed]"></input><br>



</form>
