<form action="/landmarks" method="POST">
<input type="text" name="landmark_name" id="landmark[name]"></input><br>
<input type="text" name="landmark_year_completed" id="landmark[year_completed]"></input><br>



</form>
